player-connection-mode=Listen
player-connection-guid=3794826721
player-connection-debug=0
player-connection-project-name=OrbProject
player-connection-ip=192.168.117.1
player-connection-ip=192.168.232.1
player-connection-ip=192.168.1.124
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=e5dbc0bb365241c19079b3917de81ddb
