player-connection-mode=Listen
player-connection-guid=613731712
player-connection-debug=0
player-connection-project-name=OrbProject
player-connection-ip=192.168.117.1
player-connection-ip=192.168.232.1
player-connection-ip=10.0.0.14
player-connection-ip=192.168.1.71
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=097cd846842c434eb23be21980bf112e
